<h1>Add a new bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Create Bookmark", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to List", lists_path(@lists) %>
